# Database Configuration
POSTGRES_DB=password_manager_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Django Configuration
SECRET_KEY=mEs7odXx5x39bVfuT3wYohVfHbjUbgk2b4RL7ivdTAl2Nb1hmwSdVq00qRhS9m8n9gryYDXZzNM3Gg29FYes8hLOkO4kNr0Y8OB
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# CORS Settings
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:80,http://127.0.0.1:80
